

.slick-slide > div {
  height: 30vh !important;
  position: relative !important;
  min-width:100% !important;
  display: flex;
  background-color: orange;
  align-items: flex-end;
  flex-direction: column;
}


.slick-next,
.slick-prev{
  color:black !important;
}